body {
  background: #F6F8FB;
  font-family: "OpenSans", "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
  font-size: 1.4em;
  color: #333332;
}
p {
  font-size: 1.35em !important;
  line-height: 1.63em !important;
}
a {
  color: #2ba6cb;
}
a:hover {
  color: #1e728c;
}
header {
  padding: 3em 0px 3em 0px;
}
nav a {
  margin-right: 0.5em;
  color: #ededed;
}
nav a:hover {
  color: #ededed;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.top-nav,
.nav-bar,
.sub-nav {
  font-family: 'OpenSans', sans-serif;
}
.bottom-border {
  border-bottom: 4px solid #a2a2a2;
}
.top-nav {
  background: #141414;
  height: 2.5em;
  line-height: 2.5em;
}
a.logo {
  color: #ededed;
  font-size: 1.4em;
}
a.logo:hover {
  color: #ededed;
}
.nav-bar {
  background-color: #141414;
  border-color: #a2a2a2;
}
.nav-bar > li > a {
  color: #ededed;
}
.nav-bar > li.has-flyout > a.flyout-toggle span {
  border-top: 4px solid #ededed;
}
.top-bar {
  background: #2D2D2D;
  margin-bottom: 40px;
}
.top-bar a {
  font-family: Istok, 'Helvetica Neue', Helvetica, 'Droid Sans', Arial, sans-serif !important;
  font-size: 16px !important;
}
.bio {
  float: right;
  width: 185px;
}
.title-area .row {
  height: 45px;
}
.title-area h1 {
  margin: 0px;
}
.title-area a {
  font-size: 21px !important;
}
.top-bar .title-area .name a {
  margin-left: 10px;
}
.top-bar .top-bar-section .right  {
  margin-right: 15px;
}
/*div.panel {
  background: #efefef;
  background: -moz-linear-gradient(top, #e5e5e5 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #dedede));
  background: -o-linear-gradient(top, #e5e5e5 0%, #dedede 100%);
}*/
.blue.button {
  background-color: #2f84c2;
}
.red.button {
  background-color: #cf0000;
}
.white.button {
  background-color: #d4d4d4;
  color: #333;
}
.black.button {
  background-color: #141414;
}
.green.button {
  background-color: #2e8f34;
}
.blue.button:hover, .blue.button:focus {
  background-color: #256899;
}
.red.button:hover, .red.button:focus {
  background-color: #9c0000;
}
.white.button:hover, .white.button:focus {
  background-color: #bababa;
  color: #333;
}
.black.button:hover, .black.button:focus {
  background-color: #000000;
}
.green.button:hover, .green.button:focus {
  background-color: #226826;
}
.nice.blue.button {
  border: 1px solid #2a76ad;
}
.nice.red.button {
  border: 1px solid #b60000;
}
.nice.white.button {
  border: 1px solid #c7c7c7;
  text-shadow: none !important;
}
.nice.black.button {
  border: 1px solid #000000;
}
.nice.green.button {
  border: 1px solid #226826;
}
dl.sub-nav dd.active a {
  background: #2f84c2;
  color: #fff;
  padding: 3px 9px;
}
ul.pagination li a {
  display: block;
  padding: 6px 7px 4px;
  color: #888888;
}
ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus {
  border-bottom: solid 2px #2f84c2;
  color: #141414;
}
ul.pagination li.unavailable a {
  cursor: default;
  color: #999;
}
.form-field.error input, input.input-text.red {
  border-color: #cf0000;
  background-color: rgba(255, 0, 0, 0.15);
}
.form-field.error label, label.red {
  color: #cf0000;
}
.form-field.error small, small.error {
  margin-top: -6px;
  display: block;
  margin-bottom: 9px;
  font-size: 11px;
  color: #cf0000;
  width: 254px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
form.nice div.form-field.error small, form.nice small.error {
  padding: 6px 4px;
  border: solid 0 #cf0000;
  border-width: 0 1px 1px 1px;
  margin-top: -10px;
  background: #cf0000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
}
div.alert-box {
  display: block;
  background-color: #d4d4d4;
  padding: 6px 7px;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.9);
  position: relative;
}
.alert-box.success {
  background-color: #2e8f34;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.alert-box.warning {
  background-color: #dd5600;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.alert-box.error {
  background-color: #cf0000;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.blue.label {
  background-color: #2f84c2;
}
.red.label {
  background-color: #cf0000;
}
.green.label {
  background-color: #2e8f34;
}
.white.label {
  background-color: #d4d4d4;
  color: #333;
}
.black.label {
  background-color: #141414;
}
.post {
  display: block;
  margin-bottom: 1.7em;
}
.post p {
  font-size: 1.4em;
  line-height: 23px;
}
.post-header {
  margin-bottom: 1em;
}
.post-header h6 {
  font-style: italic;
  color: #888888;
}
.post-title {
  font-size: 2.2em !important;
  margin: 0 0 2.1rem 0;
}
.post-title a {
  color: #333332;
}
.post-title a:hover {
  color: #1e728c
}
.meta {
color: #808081;
font-size: 14px !important;
margin: -10px;
margin-bottom: 10px;
padding: 5px 10px;
border-top: 1px solid #E7E7E8;
}
.comments {
  float: right;
}
footer.row {
  margin-top: 7em;
  border-top: solid 1px #DDD;
  padding: 4em 0px;
}
#copyright {
  background: #3f3f3f;
  color: #fff;
  padding: 11px 0;
  position: absolute;
  width: 100%; }
  #copyright a {
    color: #fff;
    font-size: 14px; }
  #copyright p,
  #copyright ul {
    margin-bottom: 0; }
#copyright .large-4.columns {
  font-size: .8em;
}
.about #copyright {
  bottom: 0;
}
html, body {
  height: 100%;
}